{% extends 'base.html' %}
{% block content %}
    <div class="w3-main" style="margin-left:auto">

        <div class="w3-row w3-padding-64">
            <div class="w3-twothird w3-container">
                <a href="/host" style="text-decoration: none">
                    <h1 class="w3-text-cyan2">Host</h1>
                </a>
            <p>This will be the Host page</p>
            </div>
        </div>

        <div class="w3-row w3-padding-64">
            <div class="w3-twothird w3-container">
                <a href="/vm" style="text-decoration: none">
                    <h1 class="w3-text-cyan2">Virtual Machines</h1>
                </a>
            <p>This will be the Virtual Machine page</p>
            </div>
        </div>

        <div class="w3-row w3-padding-64">
            <div class="w3-twothird w3-container">
                <a href="/about" style="text-decoration: none">
                    <h1 class="w3-text-cyan2">About</h1>
                </a>
            <p>This will be the About page</p>
            </div>
        </div>

        <div class="w3-row w3-padding-64">
            <div class="w3-twothird w3-container">
                <a href="/other" style="text-decoration: none">
                    <h1 class="w3-text-cyan2">Other</h1>
                </a>
            <p>Other stuff here...</p>
            </div>
        </div>
    </div>
{% endblock %}