<!-- templates/virtual_machines.html -->
{% extends 'base.html' %}
{% block content %}
    <div class="w3-main" style="margin-left:auto">

        <div class="w3-row w3-padding-64">
            <div class="w3-twothird w3-container">
            <h1 class="w3-text-cyan2">Virtual Machines</h1>
            <p>In this page you will find all the Virtual Machines on our vSphere</p>
            </div>
        </div>

        <h1 class="h1Table">vSphere VM Information</h1>
        <!-- TEST <button class="button buttonShutDown">Shut Down</button> -->
        <table id="hostTable" class="display">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Power State</th>
                    <th>Memory (GB)</th>
                    <th>Number CPUs</th>
                    <th>VLAN</th>
                    <th>IP Address</th>
                    <th>Storage (GB)</th>
                    <th>Overall Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for vm in vm_info %}
                    <tr>
                        <td>{{ vm.Name }}</td>
                        <td id="powerStatus{{ loop.index }}">{{ vm.PowerState }}</td>
                        <td>{{ vm.MemoryGB }}</td>
                        <td>{{ vm.NumCPU }}</td>
                        <td>{{ vm.VLAN }}</td>
                        <td>{{ vm.IPAddress }}</td>
                        <td>{{ vm.Storage }}</td>
                        <td id="overallStatus{{ loop.index }}">{{ vm.OverallStatus }}</td>
                        <td>
                            <button class="buttonStart">Start</button>
                            <button class="buttonRestart">Restart</button>
                            <button class="buttonShutDown">Shutdown</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Include the DataTables CSS and JS files -->
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.css') }}" />
    <!-- <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script> -->
    <script src="{{ url_for('static', filename='js/jquery.dataTables.js') }}"></script>

    <!-- Include the external JavaScript file -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <!-- Include the new datatable-init.js file -->
    <script src="{{ url_for('static', filename='js/datatable-init.js') }}"></script>

    <!-- Call the function for each row -->
    <script>
        {% for vm in vm_info %}
            PowerState("{{ vm.PowerState }}", 'powerStatus{{ loop.index }}');
            OverallStatus("{{ vm.OverallStatus }}", 'overallStatus{{ loop.index }}');
        {% endfor %}
    </script>
{% endblock %}